*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    color: darkblue;
}
.content{
    color:initial;
}
.container h1{
    color: red;
}
.nested{
    border: 4px solid maroon;
    background-color: yellow;
    color:red;
}
.nested p{
   border:inherit;
}
